#card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.book-card {
    border-radius: 8px;
    box-shadow: 1px 15px 23px -11px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 15px 23px -11px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 15px 23px -11px rgba(0,0,0,0.5);
    margin-top: 20px;
    text-align: center;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.book-card .image {
    border-radius: 8px 8px 0 0;
}

.book-card img {
    height: auto;
    max-width: 80%;
}

.book-card .details {
    padding: 10px;
}

.book-card h2 {
    font-size: 18px;
    margin-top: 10px;
}

.book-card h2 a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
}

.book-card h2 a:hover {
    color: var(--clr-highlight);
}

.book-card .edit{
    background-color: var(--clr-main);
    border-radius: 0 0 8px 8px;
    color: var(--clr-white);
    cursor: pointer;
    font-weight: bold;
    padding: 10px 0px;
    transition: 0.2s;
    margin-top: auto;
    width: 100%;
    margin-left: 0;
}
.edit h2 a{
    color: white;
}
.edit h2 a:hover{
    color:white;
}

.book-card .edit:hover {
    background-color: var(--clr-highlight);
    margin-top: -5px;
    padding-bottom: 15px;
    color: var(--clr-main);
}
